#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#searchDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  max-width: 50%;
  height: 2rem;
}

button {
  height: 2.5rem;
  cursor: pointer;
}
